/**********RIMUOVO I DEFAULT**********/

* {
    margin: 0;
    padding: 0;
  }
  
  ol, ul {
    list-style: none;
  }
  
  a:link, a:active, a:visited { 
    text-decoration: none;
    color: black;
  }
  
  .clearfix:after { 
    content: "."; 
    visibility: hidden;
    display: block; 
    height: 0; 
    clear: both;
  }
  
  body {
    
  }
  
  hr{
      color: steelblue;
      background: steelblue;
      border: 0;
      height: 1px;
  }
  
  /**********HEADER**********/
  
  /*header nav {
    float: left;
    padding-top: 0px;
  }*/

  #navigation{
    background-color: dodgerblue;
    height: 50%;
    width: 100%;
  }

  #logoWeb{
    height: 3%;
    width: 3%;
  }
  
  .logo{
      float: left;
      margin-top: 1%;
      margin-bottom: 1%;
      margin-left: 3%;
      width: 15%;
  }
  
  .barra{
      float: left;
      margin-top: 2%;
  }
  
  .menu{
      float: left;
      width: 200px;
      text-align: center;
      font-size: large;
      font-weight: bold;
  }
  
  /*Nome utente loggato*/
  .nome{
      float: left;
      font-size: small;
      line-height: 1;
      margin-top: 1%;
      margin-bottom: 1%;
      padding-left: 2%;
  }
  
  /**********BARRA LATERALE DI RICERCA PRODOTTI**********/
  
  .left_content{
      float: left;
      width: 20%;
      text-align: center;
      padding-top: 1%;
      line-height: 2;
      background-color: #ddd;
  }
  
  /**********BARRA DI RICERCA LIBERA*********/

  .searchBar{
    float: left;
    width: 70%;
    margin-top: 1%;
    margin-left: 10%;
  }

  #searchName{
    width: 50%;
    height: 30px;
    margin-left: 21%;
    margin-bottom: 2%;
    font-size: large;
  }
  
  /**********PRODOTTI**********/
  
  .right_content{
    float: left;
    width: 76%;
    padding: 2%;
  }
  .prodotto{
    float:left;
    width: 33%;
  }
  
  /**********MAIN**********/
  
  body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white;
  }
              
  /*********ARTICLE**********/
  
  
  /**********FORM**********/
  
  .form{
      margin-top: 20px;
  }
  
  .mainButton {
      padding: 5px 10px;
      background-color: #fcfcfc;
      color: #000000;
      border: 1px solid #000000;
      border-radius: 8px;
      cursor: pointer;
      font-size: large;
  }
  
  .button {
      padding: 5px 10px;
      background-color: #fcfcfc;
      color: #000000;
      border: 1px solid #000000;
      border-radius: 8px;
      cursor: pointer;
      font-size: smaller;
  }
  
  /**********FOOTER**********/
  
  footer {
    padding:15px 20px;
    font-size:11px;
    background-color:#999999;
    clear:both;
  }
  
  footer img{
      float: left;
  }
  
  footer p{
    text-decoration: none;
    text-align: right;
    font-size: small;
    color:#070707;
    float: right;
  }